# Dataset
data/chest_xray/
data/__MACOSX/
data/3/
data/nih-chest-xrays/
# embeddings/

# Outputs
# output/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store

#model
models/

CLAUDE.md
